 .logo-image img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  .color-me {
    color:black;
  }

  @media (min-width: 768px) {
    .navbar-brand.abs{
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      }
    }

  .nav-up {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .icon-color{
    color:gray;
  }

  #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  }

  #map { position:absolute; top:0; bottom:0; width: 100%; }

  .marker {
    border: none;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-image: url(static/marker.png);
    background-color: rgba(0, 0, 0, 0);
    transform: translate(28px, 56px, 0);
  }

  .overlay {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
  }

  .overlay button {
      font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      background-color: #3386c0;
      color: #fff;
      display: block;
      margin: 5px 0 0 0;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 3px;
  }

  .overlay button:hover {
      background-color:#4ea0da;
  }