{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<main class="col12 md:col8 lg:col6 mxauto mt5 pl2 pr2">
  <header>
    <h2 id="about">Hi, I'm Bartosz.</h2>
  </header>
  <div class="clearfix">
  <a><img src="/static/img/astrodog-cut.png" alt="NOPE" class="rounded float-end ml3 d-block" style="width:175px"></a>

    <!-- <p>I'm just a simple man, trying to make my way in the universe.
    <br>
    <br> -->

    I am 26 and I live with my girlfriend and my Bernese Mountain Dog in Wrocław, Poland. I make a living working as a Software Tester.</p>
    <p>I am passionate about space exploration and Earth observation. In my free time I like to walk with my Bernese Mountain Dog, ride my bike around and visit places I've never been to.</p>
  </div>

<h2 id="what-is-this-website-about">What is this website about?</h2>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


<h2>Where to find me?</h2>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<br>
<br>
</main>
{% endblock content %}